appdirs==1.4.4
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2023.7.22
colorama==0.4.5
importlib-metadata==4.12.0
nest-asyncio==1.5.5
numpy==1.23.1
pandas==1.4.3
pyee==8.2.2
pyppeteer==1.0.2
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
soupsieve==2.3.2.post1
tqdm==4.64.0
urllib3==1.26.10
websockets==10.3
zipp==3.8.0
